
{% extends "main/base.html" %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Register</h2>

  <form class="login-container" method="POST">
  	{% csrf_token %} 


{% if messages %}

    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endif %}
    {% endfor %}
{% endif %}
  

      
   <p>{{register_form.username}}</p>
   <p>{{register_form.first_name}}</p>
   <p>{{register_form.email}}</p>
   <p>{{register_form.password1}}</p>
   <p>{{register_form.password2}}</p>
    <p> Password must be 8 characters!</p>
    <p><input type="submit" value="Log in"></p>
  </form>

  
</div>

{% endblock %}